@import url("/shadows/common.css");

.root {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transform: translate3d(100%, 0, 0);
    width: 100%;
    color:#FFF563;
    font-weight: bold;
    text-shadow: -2px 0 #C48D3F, 0 2px #C48D3F, 2px 0 #C48D3F, 0 -2px #C48D3F;
}

.info {
    align-items: center;
    /*color: red;*/
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    min-height: 200px;
    width: 100%;
}